<section class="sectionlogin">
  <div class="imagenfondologin"></div>
  <div class="formulariologin">
    <form [formGroup]="formLogin" (submit)="login()">
       <div class="form-group">
           <input type="text" class="form-control controllogin" formControlName="email" placeholder="Email...">
        </div>
        <div class="form-group">
          <input type="password" class="form-control controllogin" formControlName="password" placeholder="Contraseña...">
        </div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Login</button></div>
      </form>
  </div>
</section>