<div class="container" id="content" #content>
    <div class="card" *ngFor="let ejercicio of ejercicios" style="margin-top: 20px;">
        <div class="card-header" style="text-align: center;">
            <h5>{{ejercicio.nombre}}</h5>
        </div>
        <div class="card-body">
            <div style="width: 100%;text-align:center;margin-bottom:10px"><img src="/assets/ejercicios/{{ejercicio.nombre_tipo}}/{{ejercicio.foto}}"></div>
            <p>{{ejercicio.ejecucion}}</p>
        </div>
    </div>
    
</div>
<div class="fixed-action-btn" (click)="downloadPDF()">
        <a class="btn-floating btn-large red"><i class="material-icons"> picture_as_pdf</i></a>
</div>
 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
 </script>
